body {
    background-color: #084D6E;
    background-size: auto 100vh;
    font-family: monospace;
    height: auto 100vw;
}

.menu {
    background-color: #4682B4;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

a {
    color: antiquewhite;
    font-size: large;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-title{
    text-align: center;
    color: antiquewhite;
}

.site-subtitle{
    text-align: center;
    color: antiquewhite;
}

.iframe{
    box-align: center;
}
