/* soft reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#084D6E ;
    background-size: auto 100vh;
    font-family: monospace;
    height: 100vh;
}

header{
    height: 100vh;
    display: flex;   
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #4682B4;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu a {
    display: block;
    padding: 20px 20px;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

a {
    color: antiquewhite;
    font-size: xx-large;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-title{
    color: antiquewhite;
    font-size: xx-large;
    text-align:center;  
}

.site-subtitle{
    
    color: antiquewhite;
    font-size: x-large;
    text-align: center;
}

.img-portfolio {
    height: 240px;
    width: 320px ;
}

